<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Css/styles.css">
  <link rel="icon" href="/img/weather.png">
  <title>Help</title>
</head>
<body>
  <div class="main-content">
  {{>header}}
  <p class="help">Enter the name of the city in the search box to look up at the weather</p>
  <p class="help">Use the search button to search</p>
  <p class="help">For code check out the source code on</p>
  </div>
  {{>footer}}
</body>
</html>